@import '../../styles/main.scss';

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    border-radius: 8px;
  }
}

.details {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  @include fadeInAnimation;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    border-radius: 8px;
  }
}

.not-found {
  text-align: center;
}

.first-episode {
  .title {
    margin-top: 1rem;
    font-weight: bold;
    color: rgb(158, 158, 158);
  }

  h3 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .bottom-info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 0.5rem;
    justify-content: space-evenly;

    @media (max-width: 400px) {
      flex-direction: column;
      align-items: stretch;
      gap: 1rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .character-info {
      margin-top: 0;
    }
  }
}

.go-back {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}
