@import '../../styles/main.scss';

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    border-radius: 8px;
  }
}

.details {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  @include fadeInAnimation;

  .bold {
    font-weight: bold;
    color: #8d8d8d;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    border-radius: 8px;
  }
}

.not-found {
  text-align: center;
}

.first-episode {
  .title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .bottom-info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-evenly;

    @media (max-width: 400px) {
      flex-direction: column;
      align-items: stretch;
      gap: 1rem;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
