@import '../../styles/main.scss';

.character-card {
  border-radius: 0.5rem;
  background-color: #3c3e44;
  text-align: left;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 30px;
  max-width: 300px;
  @include fadeInAnimation;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  h2 {
    font-size: 2rem;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    transition: transform 0.3s ease;
  }

  @media (min-width: 450px) and (max-width: 510px) {
    flex-direction: row;

    img {
      width: 155px;
      height: 100%;
    }
  }
}
.character-details {
  padding: 1.5rem;
}

.status-dot {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;

  &.alive {
    background-color: rgb(61, 214, 46);
  }

  &.dead {
    background-color: rgb(214, 61, 46);
  }
}

.character-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.character-info {
  margin-top: 1.5rem;

  span {
    font-weight: bold;
    font-size: 0.9rem;
    color: rgb(158, 158, 158);
  }
}
