.search-input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 1rem;
  outline: none;
  background-color: #3c3e44;
  color: #fff;

  &::placeholder {
    color: #fff;
  }

  &::-webkit-search-cancel-button {
    cursor: pointer;
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(90deg);
  }
}

.filter {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.filter-element {
  font-weight: bold;
  cursor: pointer;
  user-select: none;

  .status-dot {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &.active {
      @supports not (-o-appearance: none) {
        box-shadow: 0 0 5px yellow;
      }
    }
  }
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  margin-top: 2rem;

  @media (max-width: 499px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
